//*<Connection of fonts>===========================================================================================

//? Подключить, если есть локальные файлы шрифтов
@import "base/fonts";

//*</Connection of font>==========================================================================================

//*<Default font>=================================================================================================

$fontfamaly: "Outfit", serif;

//*</Default font>=================================================================================================

//*<Main colors>=================================================================================================

//? Цвет шрифта по умолчанию
$main-color: #464444;

//*</Main colors>=================================================================================================

//*<Settings>================================================================================================

//?  The width of the limiting container( 0 - no limit)
$maxWidthContainer: 1360px;

//*</Settings>===============================================================================================

//*<Main grid>=================================================================================================

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffe6b9 0%, #ad702d 100%);
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
    &_small {
        max-width: 1310px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 992px) {
        max-width: 720px;
    }
    @media (max-width: 768px) {
        max-width: 540px;
    }
    @media (max-width: 576px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
    background: url("../images/pattern/BG.png") center / cover no-repeat;
}

//*</Main grid>=================================================================================================

//*<Base>======================================================================================================

@import "base/nullstyle";
@import "base/common";

//*</Base>=====================================================================================================

//*<Footer>=========================================================================================

@import "blocks/footer";

//*</Footer>========================================================================================
